/* HTML elements */

body {
  background-color: #636363;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
h1#site-name a, p#site-name a {
  color: #000;
  text-decoration: none;
}
label {
  display: block;
}
input[type=text] {
  border: 1px solid #636363;
  padding: 5px;
}
img {
  display: block;
}



/* Structure */

#wrapper {
  background-color: #fff;
}



/* Header */

#header {
  margin-top: 10px;
  margin-bottom: 20px;
}
#logo {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}
#slogan {
  font-style: italic;
}



/* Main page */

#filebrowse input[type=text] {
  width: 97.5%;
  margin: 10px 0;
}
#filebrowse-display {
  background-color: #cc9;
  padding: 10px;
  border: 1px solid #636363;
}
.filebrowse-image {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.filebrowse-image-right {
  margin-right: 0;
}
.filebrowse-image img {
  position: absolute;
}
.filebrowse-image input {
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 1;
}



/* Footer */

#footer {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
