{% extends 'base.html' %}

{% block wrapper %}
<div id="header" class="grid_12">
    <div id="logo">
      <a href="{{ url_for('fotojazz.home') }}" title="{{ config.SITE_NAME }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="{{ config.SITE_NAME }}" width="100" height="100" /></a>
    </div><!-- /#logo -->
    
    <{% if request.path == '/' %}h1{% else %}div{% endif %} id="site-name"><a href="{{ url_for('fotojazz.home') }}">{{ config.SITE_NAME }}</a></{% if request.path == '/' %}h1{% else %}div{% endif %}>
    
    <div id="slogan">
      <p>A tool for cleaning up your photo collection.</p>
      <ul>
        <li>Rotates an image to its correct orientation, per its Exif metadata.</li>
        <li>Shifts the Exif 'date taken' value of an image backwards or forwards by a specified time interval.</li>
        <li>Renames a batch of images per a specified prefix, and with a unique integer ID.</li>
        <li>Updates the 'date modified' metadata of an image to match its 'take taken' value.</li>
      </ul>
    </div><!-- /#slogan -->
    
    <div class="clear"></div>
</div><!-- /#header -->

<div class="clear"></div>

{% block main %}{% endblock main %}

<div id="footer" class="grid_12">
  Created by <a href="http://greenash.net.au/">Jeremy Epstein</a>. Use it as you will: hack, fork, play.
</div><!-- /#footer -->
<div class="clear"></div>

{% endblock wrapper %}
