{% extends 'base_site.html' %}

{% block extra_js %}<script type="text/javascript" src="{{ url_for('static', filename='js/fotojazz.js') }}"></script>{% endblock extra_js %}

{% block main %}
<form action="/" method="post">
<div id="filebrowse" class="grid_6">
  <label for="id_path">Path to folder:</label>
  <input id="id_path" type="text" name="path" maxlength="255" size="60" value="{{ filebrowse_path }}" />
  
  <div id="filebrowse-display">
    {{ filebrowse_files_rendered|safe }}
  </div><!-- /#filebrowse-display -->
</div><!-- /#filebrowse -->

<div id="operations" class="grid_6">
  <div class="operation">
    <div class="operation-progress" id="operation-reorient-progress"></div>
    <input type="submit" value="Fix orientation" id="operation-reorient" />
  </div><!-- /#operation -->
</div><!-- /#operations -->
</form>

<div class="clear"></div>
{% endblock main %}
