{% extends 'base_site.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.ui.core.min.css') }}" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.ui.theme.min.css') }}" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.ui.progressbar.min.css') }}" type="text/css" media="screen" charset="utf-8" />
{% endblock extra_css %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.core.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.widget.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.progressbar.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fotojazz.js') }}"></script>
{% endblock extra_js %}

{% block main %}
<form action="/" method="post">
<div id="filebrowse" class="grid_6">
  <label for="id_path">Path to folder:</label>
  <input id="id_path" type="text" name="path" maxlength="255" size="60" value="{{ filebrowse_path }}" />
  
  <p id="select-links">Select: <a href="#" id="select-all">all</a> | <a href="#" id="select-none">none</a></p>
  
  <div id="filebrowse-display">
    {{ filebrowse_files_rendered|safe }}
  </div><!-- /#filebrowse-display -->
</div><!-- /#filebrowse -->

<div id="operations" class="grid_6">
  <div class="operation">
    <h2>Fix orientation</h2>
    <div class="operation-progress" id="operation-reorient-progress"></div>
    <input type="submit" value="Fix orientation" id="operation-reorient" />
  </div><!-- /#operation -->
  
  <div class="operation">
    <h2>Fix date modified</h2>
    <div class="operation-progress" id="operation-datemodified-progress"></div>
    <input type="submit" value="Fix date modified" id="operation-datemodified" />
  </div><!-- /#operation -->
</div><!-- /#operations -->
</form>

<div class="clear"></div>
{% endblock main %}
